:root {
  --primary-color: #6979f8;
  --primary-color-hover: #a5affb;
  --second-color: #be52ffb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
